@model IEnumerable<SpartaIMS_Database.Models.SpartanUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a id="createUser" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort.CohortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cohort.CohortName) @Html.DisplayFor(modelItem => item.Cohort.CohortNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobRole.JobRoleID)
            </td>
            <td>
                <a id="editUser" asp-action="Edit" asp-route-id="@item.SpartanID">Edit</a> |
                <a id="detailsUser" asp-action="Details" asp-route-id="@item.SpartanID">Details</a> |
                <a id="deleteUser" asp-action="Delete" asp-route-id="@item.SpartanID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
